# Nome do workflow
name: Alerta para o Discord

# Gatilho: Roda toda vez que houver um push no branch main
on:
  push:
    branches:
      - "main"

# Tarefas
jobs:
  enviar_alerta:
    name: Enviar Alerta para o Discord
    runs-on: ubuntu-latest
    steps:
      # A칞칚o da comunidade que envia a mensagem para o Discord
      - name: Envia a notifica칞칚o
        uses: avast/discord-action@v0
        with:
          # Usa o segredo que configuramos no cofre do GitHub
          webhook: ${{ secrets.DISCORD_WEBHOOK_URL }}

          # Mensagem que ser치 enviada. Usamos vari치veis do GitHub para deix치-la din칙mica!
          message: "游 **Novo push no branch `main`!**\nO commit `${{ github.sha }}` foi enviado por **${{ github.actor }}**.\n\nVeja as altera칞칫es aqui: ${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}"